html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  align-content: center;
}

.header-logo {
  height: 2em;
}

/* ---------- Footer ---------- */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content-container {
  flex: 1; 
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  padding-top: 25px;
}

.footer .header-logo {
  margin-bottom: 10px;
}

.footer a {
  text-decoration: none;
}

.footer-links {
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* ---------- Pagination ---------- */

.blog-pagination {
  display: flex;
  gap: 5px;
  margin-bottom: 4rem;
}

.blog-pagination a {
  margin-right: 10px;
}

/* ---------- Articles List ---------- */

.articles-list {
  padding: 0;
}

.articles-list-item {
  margin-bottom: 4rem;
  list-style: none;
}
.articles-list-item-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}
.articles-list-item hr {
  margin-top: 20px;
}
.articles-list-item a {
  text-decoration: none;
}

.position-sticky {
  top: 2rem;
}

.container {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

/* ---------- Featured Articles ---------- */

.featured-article-img-container {
  width: 200px; 
  height: 250px; 
  overflow: hidden;
}

.featured-article-img {
  width: auto; 
  height: 100%; 
  display: block;
}

.bg-featured-article::after {
  background-color: rgb(248, 248, 248); 
}


@media (min-width: 768px) {
  .bg-featured-article {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    z-index: 0;
    background-color: transparent; 
  }
  
  .bg-featured-article::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent, rgb(255, 255, 255) 70%, rgb(255, 255, 255));
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .bg-featured-article {
    background-image: none !important; 
    background-color: rgb(248, 248, 248); 
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* ---------- custom styling ---------- */

.recent-article-img { 
  border-radius: 5px;
  width: 50%;
  height: auto;
}

@media (min-width: 768px) {
  .recent-article-img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    max-height: 150px;
  }
}

.article-stats {
  display: inline-flex;
  gap: 20px;
  margin-top: 10px;
}

.fa-heart {
 color: #c42727;
}

.fa-message {
  color: #1c5b82;
 }

 @media (min-width: 768px) {
  .list-unstyled a {
    max-width: 230px;
  }
}


.comment {
  margin-bottom: 20px;
}

.rounded-circle {
  height: 50px;
  width: 50px;
}

.comment-date {
  margin-left: 10px;
  font-weight: normal;
  font-size: 0.8em;
}

.article-page-img {
  width: 100%;
  height: auto;
}

.like-btn {
  cursor: pointer;
}


.btn-comment {
  margin-top: 10px;
  padding: 5px 10px;
}

.hidden {
  visibility: hidden;
}

.warning {
  color: #b31010;
  padding-left: 5px;
}

.no-display {
  display: none;
}

.comment-form-submit {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.comment-form-submit input[type="submit"] {
  margin-top: 0;
}

.warning-border {
  border: 1px solid #c42727;
}

.login-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form input[type="submit"] {
  background-color: #345284;
  color: white;
  font-weight: normal;
  margin: 10px;
  border: none;
  width: 13em;
}

.login-form input[type="submit"]:hover {
  background-color: #386eca;
}

.nav-user-avatar {
  height: 2.5em;
  width: 2.5em;
  padding-right: 5px;
}

.delete-comment-icon {
  font-size: 0.8em;
  cursor: pointer;
  margin-left: 5px;
}

.small {
  font-size: 0.9em;
  font-weight: normal;
  margin: 0;
}

.delete-comment {
  display: flex;
  flex-direction: row;
  align-items: baseline
}

.comment-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment {
  width: 100%;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 74vh;
  justify-content: center;
}

.results-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}

.dropdown-sort {
  background-color: #1c5b82;
  width: 130px;
  border: none;
  height: 2em;
  padding: 5px;
  font-size: .9em;
  color: white;
  border-radius: 5px;
}

.dropdown-item {
  font-size: .9em;
}

.results-header-sorting {
  display: flex;
  flex-direction: row;
}


/* ---------- Toggle Button ---------- */

.toggle-btn {
  background-color: #b7b9ba;
  border: 1px solid #aaa;
  border-radius: 99px;
  width: 40px;
  height: 28px;
  transition: background-color 0.1s ease, border-colour 0.2s;
  cursor: pointer;
  position: relative;
  font-size: .8em;
  margin: 0 10px;
}

.toggle-btn .thumb {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15 s ease;
  position:  absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn.toggled {
  background-color: #1c5b82;
  color: white;
}

.toggle-btn:hover {
  border-color: #6f6f6f;
}

.toggle-btn.toggled .thumb {
  left: calc(50px - 35px);
}

.toggle-text {
  width: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.8em;
  text-align: right;
  line-height: 1em;
  margin: 0;
  justify-content: center
}

.not-found {
  display: flex;
  flex-direction: column;
  height: 74vh;
  align-items: center;
  justify-content: center;
}

.not-found img {
  width: 30%;
  margin-bottom: 40px;
}

.not-found p {
  font-size: 2em;
}

.wrapper {
  position: relative;
  text-align: right;
}
.wrapper input {
  opacity: 0;
  pointer-events: none;
  touch-action: none;
}
.wrapper .dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  gap: 5px;
  right: 0;
}
.wrapper input:checked ~ .dropdown {
  display: flex;
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.featured-articles {
  padding: 0;
}

.featured-articles-item {
  list-style: none;
}

.like-error {
  margin-left: 10px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.main-nav a {
  text-decoration: none;
}
.main-nav i {
  color:#345284
}

.main-nav-toggle i {
  font-size: 1.4em;
}

.main-nav-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.main-nav-toggle {
  display: none;
}

@media (max-width: 992px) {
  .main-nav-links {
    display: none;
  }

  .main-nav-toggle {
    display: flex;
    margin: 0;
    cursor: pointer;

  }

  .main-nav-toggle .dropdown-toggle::after {
    display: none;
  }
}

/* ---------- Article Form ---------- */

.quill-editor .ql-container {
  min-height: 300px;
  border-bottom-left-radius: 5px;  
  border-bottom-right-radius: 5px; 
  border-color: #dee2e6;
}

.quill-editor .ql-editor {
  min-height: 250px;
}

.quill-editor {
  max-width: 100%;
}

.quill-editor .ql-toolbar {
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
  border-color: #dee2e6;
}
