body {
  line-height: 1.5;
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  align-content: center;
}

.header-logo {
  height: 2em;
}

.footer .header-logo {
  margin-bottom: 10px;
}

.footer a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* ---------- Pagination ---------- */

.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination a {
  margin-right: 10px;
}

/* ---------- Blog posts ---------- */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

.position-sticky {
  top: 2rem;
}

.featured-article-img-container {
  width: 200px; 
  height: 250px; 
  overflow: hidden;
}

.blog-post hr {
  margin-top: 20px;
}

.featured-article-img {
  width: auto; 
  height: 100%; 
  display: block;
}


.bg-featured-article::after {
  background-color: rgb(248, 248, 248); 
}

@media (min-width: 768px) {
  .bg-featured-article {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    z-index: -1;
    background-color: transparent; 
  }
  
  .bg-featured-article::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent, rgb(255, 255, 255) 70%, rgb(255, 255, 255));
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .bg-featured-article {
    background-image: none !important; 
    background-color: rgb(248, 248, 248); 
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* ---------- custom styling ---------- */

.recent-article-img { 
  border-radius: 5px;
  width: 50%;
  height: auto;
}

@media (min-width: 768px) {
  .recent-article-img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    max-height: 150px;
  }
}

.blog-post a {
  text-decoration: none;
}

.article-stats {
  display: inline-flex;
  gap: 20px;
}

.fa-heart {
 color: #c42727;
}

.fa-message {
  color: #1c5b82;
 }

 @media (min-width: 768px) {
  .list-unstyled a {
    max-width: 230px;
  }
}


.comment {
  margin-bottom: 20px;
}

.rounded-circle {
  height: 50px;
  width: 50px;
}

.comment-date {
  margin-left: 10px;
  font-weight: normal;
  font-size: 0.8em;
}

.article-page-img {
  width: 100%;
  height: auto;
}

.like-btn {
  cursor: pointer;
}


.btn-comment {
  margin-top: 10px;
  padding: 0px 10px;
}

.hidden {
  visibility: hidden;
}

.warning {
  color: #b31010;
  padding-left: 5px;
}

.no-display {
  display: none;
}

.comment-form-submit {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.comment-form-submit input[type="submit"] {
  margin-top: 0;
}

.warning-border {
  border: 1px solid #c42727;
}

.login-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form input[type="submit"] {
  background-color: #345284;
  color: white;
  font-weight: normal;
  margin: 10px;
  border: none;
  width: 13em;
}

.login-form input[type="submit"]:hover {
  background-color: #386eca;
}

.nav-user-avatar {
  height: 2em;
  width: 2em;
  margin-left: 5px; 
}